<nav class="mb-8 flex justify-between bg-white p-4 shadow">
  <div class="font-bold text-xl text-indigo-600">Assignment Project</div>
  <ul class="flex space-x-4">
    <li><a class="<%= page === '/' ? 'active' : '' %>" href="/">Home</a></li>
    <li><a class="<%= page === '/solutions/projects' ? 'active' : '' %>" href="/solutions/projects">View Projects</a></li>
    <li><a class="<%= page === '/about' ? 'active' : '' %>" href="/about">About</a></li>
  </ul>
</nav>
